body,
html {
  overflow-x: hidden;
  font-family: "Plus Jakarta Sans", serif;
  &.overflow {
    overflow: hidden !important;
  }
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(119, 106, 230, 0.08);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #594dc5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #685ade;
}

body {
  @include flex;
  @include dir-col;
  @include justify-between;
  min-height: 100vh;
  background: #141414;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", serif;
}

input,
textarea {
  border: none;
  background: transparent;
  &:focus {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s;
  background: none;
  &:focus {
    outline: none;
    border: none;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

.c-gray {
  color: #7d7d80;
}

.c-white {
  color: #f5f5f7;
}

.c-green {
  color: #37b358;
}

.c-purple {
  color: #37b358;
}

.green-status {
  color: #37b358;
  font-size: 14px;
  font-weight: 500;
  line-height: 125%;
  height: 26px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid rgba(55, 179, 88, 0.08);
  background: rgba(55, 179, 88, 0.07);
}

.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.purple-btn {
  border-radius: 4px;
  background: #594dc5;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.08),
    0.5px 0.5px 0.5px 0px rgba(0, 0, 0, 0.12),
    0px -1px 2px 2px rgba(0, 0, 0, 0.08) inset,
    0px 1px 2px 2px rgba(255, 255, 255, 0.08) inset,
    0px 0px 0px 1px rgba(20, 20, 20, 0.99),
    0px 0px 0px 0px rgba(255, 255, 255, 0.04) inset;
  padding: 10px 12px;
  color: #f5f5f7;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  border-radius: 4px;
  &:hover {
    background: lighten(#594dc5, 7%);
  }

  &.transparent {
    background-color: transparent;
    border: 0;
    color: #594dc5;
    box-shadow: unset;
  }
}

.btn-gray {
  color: #f5f5f7;
  font-size: 12px;
  font-weight: 500;
  line-height: 125%;
  height: 32px;
  padding: 8.5px 12px;
  border-radius: 4px;
  background: rgba(252, 252, 252, 0.02);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.04) inset;

  &.disabled,
  &:disabled {
    cursor: default;
    opacity: 0.3;
    color: #f5f5f7;
    background: rgba(252, 252, 252, 0.02);
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.08),
      0.5px 0.5px 0.5px 0px rgba(0, 0, 0, 0.12),
      0px 0px 0px 0px rgba(255, 255, 255, 0.04) inset;
  }
}

.select-wrap {
  position: relative;
  min-width: 77px;
  .select-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  select {
    display: none;
  }

  .select2 {
    position: relative;
    width: 100% !important;
    height: 100%;

    .selection {
      width: 100%;
    }
  }

  .select2-container--default .select2-selection--single {
    background-color: transparent;
    text-align: left;
    border: none;
    padding: 0;
    height: 100%;

    &:focus {
      outline: none;
    }
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 12px;
    font-weight: 500;
    padding: 0;
    color: #f5f5f7;
    padding: 10px;
    padding-right: 22px;
    padding-left: 20px;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 23px;
    @media (max-width: 1200px) {
      font-size: 14px;
    }
  }

  .select2-selection__arrow {
    width: 9px !important;
    height: 6px !important;
    top: 50% !important;
    right: 10px !important;
    transform: translateY(-50%);
    z-index: 1 !important;
    background-color: transparent;

    b {
      background: url(../img/select-arrow.svg) no-repeat center center;
      width: 9px !important;
      height: 6px !important;
      border: none !important;
      transition: 0.2s;
    }
  }

  .select2-container--default.select2-container--open
    .select2-selection--single
    .select2-selection__arrow
    b {
    transform: rotate(180deg);
  }
  &.style2 {
    min-width: auto;
    height: auto;
    .select2-selection__rendered {
      padding: 0 30px 0 10px !important;
      height: 32px !important;
      line-height: 32px !important;
      transition: 0.3s;
      border: 1px solid #404041;
      border-radius: 4px;
      @media (max-width: 767px) {
        font-size: 16px !important;
      }
    }
    .select2-selection__arrow {
      right: 16px !important;
    }
    .select2-selection--single {
      padding-right: 0 !important;
    }
  }
}

.select2-dropdown {
  border: none !important;
  font-size: 14px !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background: #211f29;
  color: #7d7d80;
  font-size: 12px !important;
  font-weight: 400;
  transition: 0s;
}

.select2-container--default .select2-results__option--highlighted {
  color: #7d7d80;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  font-size: 12px;
  background: #211f29;
  font-weight: 400;
  color: #f5f5f7;
  transition: 0.3s;
}

.select2-search--dropdown {
  padding: 0;
}

.select2-container--open .select2-dropdown {
  bottom: 0 !important;
  top: 100%;
  transition: 0s;
}

.select2-results__options {
  border: none;
  max-height: inherit !important;
  padding: 15px 0;
  transition: 0s;
  min-width: 100%;
  width: max-content;
  border-radius: 4px;
  border: 1px solid #404041;
  background: #211f29;
  box-shadow: 2px 4px 8px 0px rgba(20, 20, 20, 0.06),
    1px 2px 4px 0px rgba(20, 20, 20, 0.06),
    1px 1px 2px 0px rgba(20, 20, 20, 0.06),
    0.5px 0px 1px 0px rgba(20, 20, 20, 0.06),
    0.25px 0px 0.5px 0px rgba(20, 20, 20, 0.06),
    0px 0px 0px 0px rgba(20, 20, 20, 0.05),
    0px 0px 0px 1px rgba(255, 255, 255, 0.02) inset;
}

.select2-results__option {
  font-size: 12px;
  background: #211f29;
  white-space: nowrap;
  @include flex;
  @include align-center;
  padding: 0 15px !important;
  margin-bottom: 10px;
  transition: 0s;

  &:last-child {
    margin-bottom: 0;
    border: none;
  }
}

.select2-search--dropdown {
  border: none;
}

.select2-search {
  display: none;
}

.select2-results__option {
  font-weight: 400;
  padding: 0 15px;
  color: #7d7d80;
  font-size: 12px;
  transition: 0s;
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.tabs {
  margin-bottom: 8px;
}
.tabs-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #292929;
  position: relative;

  &:after {
    content: "";
    width: var(--solidWidth);
    height: 2px;
    background: #594dc5;
    position: absolute;
    left: var(--solidLeft);
    bottom: 0;
    transition: 0.3s;
  }
}

.tab-button {
  padding: 10px;
  height: 36px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(230, 231, 234, 0.56);
  text-align: center;
  position: relative;
  z-index: 0;

  &.active {
    color: #f5f5f7;
  }
  &:after {
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    position: absolute;
    background: transparent;
    transition: 0.3s;
  }
}

.tab-content {
  display: none;
  margin-top: 8px;
  .texts {
    padding: 0 10px;
    margin-bottom: 10px;
    @include flex;
    @include justify-between;
    a {
      color: #7d7d80;
      font-size: 12px;
      font-weight: 500;
      text-decoration: underline;
      line-height: 100%;
      &:hover {
        text-decoration: none;
      }
    }
    p {
      @include flex;
      font-size: 12px;
      font-weight: 500;
      color: #b1a6f3;
      .purple-text {
        font-size: 12px;
        font-weight: 500;
        color: #b1a6f3;
        margin: 0 5px;
      }
    }
    span {
      font-size: 12px;
      font-weight: 500;
      &.grey {
        color: #7d7d80;
      }
      &.white {
        color: #f5f5f7;
      }
    }
  }
  .select-wrap {
    margin: 16px 0;
  }
  .range-wrap {
    @include flex;
    @include align-center;
    padding-left: 10px;
    margin-bottom: 16px;
    #slider-range,
    #slider-range2 {
      border: none;
      height: 2px;
      background: #404041;
      flex-grow: 1;

      .ui-widget-header {
        background: #edc8a1;
      }

      .ui-widget-content {
        background: #edc8a1;
      }

      .ui-slider-handle {
        background: #211f29;
        border: 1px solid #776ae6;
        border-radius: 50%;
        top: -9px;

        &:focus {
          outline: none;
        }
      }
    }
    .input-wrap {
      width: 72px;
      margin-left: 28px;
      height: 32px;
      margin-top: 0;
      margin-bottom: 0;
      position: relative;

      input {
        width: 100%;
        height: 100%;
        background: transparent;
        padding-left: 10px;
        padding-right: 30px;
        color: #e6e7ea;
        font-size: 12px;
        font-weight: 500;
        border-radius: 4px;
        border: 1px solid #404041;
        @include placeholder {
          color: #e6e7ea;
          font-size: 12px;
          font-weight: 500;
        }
        &:focus {
          border-color: #5c5c5c;
        }
      }
      .persent {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 12px;
        font-weight: 500;
        color: #f5f5f7;
      }
    }
  }
  .selects-info {
    margin-top: 16px;
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px 8px;
    .input-wrap {
      position: relative;
      margin-top: 0;
      margin-bottom: 0;
      input {
        border: 1px solid #404041;
        border-radius: 4px;
        width: 100%;
        height: 32px;
        padding: 0 10px;
        color: #e6e7ea;
        font-size: 12px;
        font-weight: 500;
        padding-right: 56px;
        @include placeholder {
          color: #e6e7ea;
          font-size: 12px;
          font-weight: 500;
        }
        &:focus {
          border-color: #5c5c5c;
        }
        &.pr20 {
          padding-right: 20px;
        }
      }
      .select-wrap {
        width: 34px;
        min-width: 34px;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        margin: 0;
        .select2-selection__rendered {
          padding: 0 !important;
        }
        .select2-selection__arrow {
          right: 2px !important;
        }
      }
    }
  }
  .purple-btn {
    width: 100%;
    margin-bottom: 24px;
    text-align: center;
    margin-top: 14px;
  }
  .info-title {
    padding: 0 10px;
    margin-bottom: 10px;
    color: #f5f5f7;
    font-size: 12px;
    font-weight: 500;
  }
  .connect-text {
    margin: 12px auto;
    padding-top: 12px;
    text-align: center;
    color: #f5f5f7;
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    border-top: 1px solid #292929;
  }
  .input-wrap {
    position: relative;
    margin-bottom: 16px;
    margin-top: 16px;
    input {
      border: 1px solid #404041;
      border-radius: 4px;
      width: 100%;
      height: 32px;
      padding: 0 10px;
      color: #e6e7ea;
      font-size: 12px;
      font-weight: 500;
      padding-right: 56px;
      @include placeholder {
        color: #e6e7ea;
        font-size: 12px;
        font-weight: 500;
      }
      &:focus {
        border-color: #5c5c5c;
      }
    }
    .select-wrap {
      width: 34px;
      min-width: 34px;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      margin: 0;
      .select2-selection__rendered {
        padding: 0 !important;
      }
      .select2-selection__arrow {
        right: 2px !important;
      }
    }
  }
}

.tab-content.active {
  display: block;
}

.switch {
  display: flex;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #404041;
  background: rgba(36, 36, 36, 0.48);
  padding: 4px;
  margin-bottom: 8px;
}

.switch-button {
  flex: 1;
  padding: 10px 20px;
  border: none;
  background: transparent;
  color: #7d7d80;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s, color 0.3s;
}

.switch-button.active {
  background: #6a5acd;
  color: #f5f5f7;
}

.switch-button2 {
  flex: 1;
  padding: 10px 20px;
  border: none;
  background: transparent;
  color: #7d7d80;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s, color 0.3s;
}

.switch-button2.active {
  background: #6a5acd;
  color: #f5f5f7;
}

.checkbox-wrap {
  label {
    @include flex;
    @include align-center;
    cursor: pointer;
    position: relative;
    font-size: 12px;
    font-weight: 500;
    color: #f5f5f7;

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
    }

    input:checked ~ span:after {
      opacity: 1;
    }

    span {
      width: 16px;
      min-width: 16px;
      height: 16px;
      display: inline-block;
      position: relative;
      transition: 0.2s;
      border: 1px solid #776ae6;
      border-radius: 4px;
      margin-right: 8px;

      &:after {
        content: "";
        background: #776ae6;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -5px;
        margin-left: -5px;
        opacity: 0;
        transition: 0.2s;
      }
    }
  }
}

.tab-content .range-wrap #slider-range .ui-widget-header,
.tab-content .range-wrap #slider-range2 .ui-widget-header {
  background: #594dc5;
}

.graphic-info {
  .selects-top {
    @include flex;
    @include justify-between;
  }
  .items {
    width: 100%;
    .item {
      @include flex;
      width: 100%;
      @include justify-between;
      height: 24px;
      @include align-center;
      margin-bottom: 4px;
      position: relative;
      z-index: 0;
      padding: 5px 10px;
      &:after {
        content: "";
        width: 20%;
        height: 100%;
        border-radius: 4px;
        background: rgba(#de4d4d, 0.12);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
      &:nth-child(1) {
        &:after {
          width: 90%;
        }
      }
      &:nth-child(2) {
        &:after {
          width: 60%;
        }
      }
      &:nth-child(3) {
        &:after {
          width: 40%;
        }
      }
      span {
        font-size: 12px;
        font-weight: 500;
        color: #e6e7ea;
        width: 50px;
        &.red {
          color: #de4d4d;
        }
        &.green {
          color: #37b358;
        }
      }
    }
    &.green-style {
      .item {
        &:after {
          background: rgba(#37b358, 0.12);
        }
      }
    }
  }
  .top-title {
    padding: 10px;
    @include flex;
    @include justify-between;
    span {
      font-size: 12px;
      font-weight: 500;
      color: #7d7d80;
      min-width: 50px;
    }
  }
  .black-style {
    background: #141414;
    padding: 10px;
    @include flex;
    @include justify-between;
    margin: 10px 0;
    span {
      font-size: 12px;
      font-weight: 500;
      color: #f5f5f7;
      min-width: 50px;
      &.purple {
        color: #9a8eed;
      }
    }
  }
}

.leaderboard-info {
  max-width: 1170px;
  width: 100%;
  padding: 60px 15px 0;
  margin: 0 auto;
  .leaderboard-title {
    font-size: 36px;
    margin-bottom: 35px;
    color: #f5f5f7;
    font-weight: bold;
  }
  .tab-content {
    @media (max-width: 767px) {
      overflow-x: auto;
    }
  }
  .tabs-buttons {
    @include inline-flex;
    gap: 8px;
    margin-bottom: 16px;
    button {
      min-width: 130px;
      @media (max-width: 767px) {
        min-width: auto;
      }
    }
  }
  .table-wrap {
    @media (max-width: 767px) {
      min-width: 600px;
    }
    .table-top {
      @include flex;
      border-radius: 8px 8px 0px 0px;
      border-bottom: 1px solid rgba(64, 64, 65, 0.12);
      background: linear-gradient(
          0deg,
          rgba(119, 106, 230, 0.12) 0%,
          rgba(119, 106, 230, 0.12) 100%
        ),
        rgba(245, 245, 247, 0.02);
      padding: 16px;
      span {
        font-size: 12px;
        font-weight: 500;
        color: #5c5c5e;
        &.purple {
          color: #594dc5;
        }
      }
    }
    .table-item {
      padding: 16px;
      @include flex;
      border-bottom: 1px solid rgba(64, 64, 65, 0.12);
      background: linear-gradient(
          0deg,
          rgba(119, 106, 230, 0.08) 0%,
          rgba(119, 106, 230, 0.08) 100%
        ),
        rgba(245, 245, 247, 0.02);
      box-shadow: 0.5px 0.5px 1px 0px rgba(0, 0, 0, 0.04),
        0.25px 0.25px 0.5px 0px rgba(0, 0, 0, 0.04),
        0px 0px 0px 0px rgba(0, 0, 0, 0.04);
      span {
        color: #f5f5f7;
        font-size: 14px;
        &.num {
          img {
            padding-left: 7px;
          }
          b {
            font-weight: normal;
            padding-left: 16px;
          }
        }
        &.red {
          color: #de4d4d;
        }
        &.green {
          color: #37b358;
        }
      }
    }
  }
  .top-info {
    @include flex;
    @include align-center;
    @include justify-between;

    .top-texts {
      position: relative;
      z-index: 0;
      @include inline-flex;
      @include align-center;
      &:after {
        content: "";
        width: 1px;
        height: 16px;
        background: #404041;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media (max-width: 767px) {
          left: 47%;
        }
      }
      span {
        padding: 8px;
        color: #c2c2c6;
        transition: 0.3s;
        font-size: 14px;
        margin-left: 16px;
        @media (max-width: 767px) {
          font-size: 12px;
          margin-left: 8px;
          padding: 4px;
        }
        &.active {
          color: #776ae6;
        }
      }
    }
  }
}
