body,
html {
  overflow-x: hidden;
  font-family: "Plus Jakarta Sans", serif;
}
body.overflow,
html.overflow {
  overflow: hidden !important;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
  background: #141414;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", serif;
}

input,
textarea {
  border: none;
  background: transparent;
}
input:focus,
textarea:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s;
  background: none;
}
button:focus {
  outline: none;
  border: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}

.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.purple-btn {
  border-radius: 4px;
  background: #594dc5;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.08), 0.5px 0.5px 0.5px 0px rgba(0, 0, 0, 0.12), 0px -1px 2px 2px rgba(0, 0, 0, 0.08) inset, 0px 1px 2px 2px rgba(255, 255, 255, 0.08) inset, 0px 0px 0px 1px rgba(20, 20, 20, 0.99), 0px 0px 0px 0px rgba(255, 255, 255, 0.04) inset;
  padding: 10px 12px;
  color: #f5f5f7;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  border-radius: 4px;
}
.purple-btn:hover {
  background: #7268ce;
}

.select-wrap {
  position: relative;
  min-width: 77px;
}
.select-wrap .select-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.select-wrap select {
  display: none;
}
.select-wrap .select2 {
  position: relative;
  width: 100% !important;
  height: 100%;
}
.select-wrap .select2 .selection {
  width: 100%;
}
.select-wrap .select2-container--default .select2-selection--single {
  background-color: transparent;
  text-align: left;
  border: none;
  padding: 0;
  height: 100%;
}
.select-wrap .select2-container--default .select2-selection--single:focus {
  outline: none;
}
.select-wrap .select2-container .select2-selection--single .select2-selection__rendered {
  font-size: 12px;
  font-weight: 500;
  padding: 0;
  color: #f5f5f7;
  padding: 10px;
  padding-right: 22px;
  padding-left: 20px;
  padding-bottom: 0;
  padding-top: 0;
  line-height: 23px;
}
@media (max-width: 1200px) {
  .select-wrap .select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
  }
}
.select-wrap .select2-selection__arrow {
  width: 9px !important;
  height: 6px !important;
  top: 50% !important;
  right: 10px !important;
  transform: translateY(-50%);
  z-index: 1 !important;
  background-color: transparent;
}
.select-wrap .select2-selection__arrow b {
  background: url(../img/select-arrow.svg) no-repeat center center;
  width: 9px !important;
  height: 6px !important;
  border: none !important;
  transition: 0.2s;
}
.select-wrap .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  transform: rotate(180deg);
}
.select-wrap.style2 {
  min-width: auto;
  height: auto;
}
.select-wrap.style2 .select2-selection__rendered {
  padding: 0 30px 0 10px !important;
  height: 32px !important;
  line-height: 32px !important;
  transition: 0.3s;
  border: 1px solid #404041;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .select-wrap.style2 .select2-selection__rendered {
    font-size: 16px !important;
  }
}
.select-wrap.style2 .select2-selection__arrow {
  right: 16px !important;
}
.select-wrap.style2 .select2-selection--single {
  padding-right: 0 !important;
}

.select2-dropdown {
  border: none !important;
  font-size: 14px !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background: #211f29;
  color: #7d7d80;
  font-size: 12px !important;
  font-weight: 400;
  transition: 0s;
}

.select2-container--default .select2-results__option--highlighted {
  color: #7d7d80;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  font-size: 12px;
  background: #211f29;
  font-weight: 400;
  color: #f5f5f7;
  transition: 0.3s;
}

.select2-search--dropdown {
  padding: 0;
}

.select2-container--open .select2-dropdown {
  bottom: 0 !important;
  top: 100%;
  transition: 0s;
}

.select2-results__options {
  border: none;
  max-height: inherit !important;
  padding: 15px 0;
  transition: 0s;
  min-width: 100%;
  width: max-content;
  border-radius: 4px;
  border: 1px solid #404041;
  background: #211f29;
  box-shadow: 2px 4px 8px 0px rgba(20, 20, 20, 0.06), 1px 2px 4px 0px rgba(20, 20, 20, 0.06), 1px 1px 2px 0px rgba(20, 20, 20, 0.06), 0.5px 0px 1px 0px rgba(20, 20, 20, 0.06), 0.25px 0px 0.5px 0px rgba(20, 20, 20, 0.06), 0px 0px 0px 0px rgba(20, 20, 20, 0.05), 0px 0px 0px 1px rgba(255, 255, 255, 0.02) inset;
}

.select2-results__option {
  font-size: 12px;
  background: #211f29;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px !important;
  margin-bottom: 10px;
  transition: 0s;
}
.select2-results__option:last-child {
  margin-bottom: 0;
  border: none;
}

.select2-search--dropdown {
  border: none;
}

.select2-search {
  display: none;
}

.select2-results__option {
  font-weight: 400;
  padding: 0 15px;
  color: #7d7d80;
  font-size: 12px;
  transition: 0s;
}
@media (max-width: 767px) {
  .select2-results__option {
    font-size: 14px;
  }
}

.tabs {
  margin-bottom: 8px;
}

.tabs-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #292929;
}

.tab-button {
  padding: 10px;
  height: 36px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(230, 231, 234, 0.56);
  text-align: center;
  position: relative;
  z-index: 0;
}
.tab-button:after {
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  position: absolute;
  background: transparent;
  transition: 0.3s;
}

.tab-button.active {
  color: #f5f5f7;
}
.tab-button.active:after {
  background: #594dc5;
}

.tab-content {
  display: none;
  margin-top: 8px;
}
.tab-content .texts {
  padding: 0 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.tab-content .texts a {
  color: #7d7d80;
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
  line-height: 100%;
}
.tab-content .texts a:hover {
  text-decoration: none;
}
.tab-content .texts p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  color: #b1a6f3;
}
.tab-content .texts p .purple-text {
  font-size: 12px;
  font-weight: 500;
  color: #b1a6f3;
  margin: 0 5px;
}
.tab-content .texts span {
  font-size: 12px;
  font-weight: 500;
}
.tab-content .texts span.grey {
  color: #7d7d80;
}
.tab-content .texts span.white {
  color: #f5f5f7;
}
.tab-content .select-wrap {
  margin: 16px 0;
}
.tab-content .range-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 16px;
}
.tab-content .range-wrap #slider-range,
.tab-content .range-wrap #slider-range2 {
  border: none;
  height: 2px;
  background: #404041;
  flex-grow: 1;
}
.tab-content .range-wrap #slider-range .ui-widget-header,
.tab-content .range-wrap #slider-range2 .ui-widget-header {
  background: #edc8a1;
}
.tab-content .range-wrap #slider-range .ui-widget-content,
.tab-content .range-wrap #slider-range2 .ui-widget-content {
  background: #edc8a1;
}
.tab-content .range-wrap #slider-range .ui-slider-handle,
.tab-content .range-wrap #slider-range2 .ui-slider-handle {
  background: #211f29;
  border: 1px solid #776ae6;
  border-radius: 50%;
  top: -9px;
}
.tab-content .range-wrap #slider-range .ui-slider-handle:focus,
.tab-content .range-wrap #slider-range2 .ui-slider-handle:focus {
  outline: none;
}
.tab-content .range-wrap .input-wrap {
  width: 72px;
  margin-left: 28px;
  height: 32px;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
.tab-content .range-wrap .input-wrap input {
  width: 100%;
  height: 100%;
  background: transparent;
  padding-left: 10px;
  padding-right: 30px;
  color: #f5f5f7;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #404041;
}
.tab-content .range-wrap .input-wrap input::-webkit-input-placeholder {
  color: #f5f5f7;
  font-size: 12px;
  font-weight: 500;
}
.tab-content .range-wrap .input-wrap input::-moz-placeholder {
  color: #f5f5f7;
  font-size: 12px;
  font-weight: 500;
}
.tab-content .range-wrap .input-wrap input:-ms-input-placeholder {
  color: #f5f5f7;
  font-size: 12px;
  font-weight: 500;
}
.tab-content .range-wrap .input-wrap input:-moz-placeholder {
  color: #f5f5f7;
  font-size: 12px;
  font-weight: 500;
}
.tab-content .range-wrap .input-wrap input:focus {
  border-color: #5c5c5c;
}
.tab-content .range-wrap .input-wrap .persent {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 12px;
  font-weight: 500;
  color: #f5f5f7;
}
.tab-content .selects-info {
  margin-top: 16px;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px 8px;
}
.tab-content .selects-info .input-wrap {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}
.tab-content .selects-info .input-wrap input {
  border: 1px solid #404041;
  border-radius: 4px;
  width: 100%;
  height: 32px;
  padding: 0 10px;
  color: #9e9ea0;
  font-size: 12px;
  font-weight: 500;
  padding-right: 56px;
}
.tab-content .selects-info .input-wrap input::-webkit-input-placeholder {
  color: #7d7d80;
  font-size: 12px;
  font-weight: 500;
}
.tab-content .selects-info .input-wrap input::-moz-placeholder {
  color: #7d7d80;
  font-size: 12px;
  font-weight: 500;
}
.tab-content .selects-info .input-wrap input:-ms-input-placeholder {
  color: #7d7d80;
  font-size: 12px;
  font-weight: 500;
}
.tab-content .selects-info .input-wrap input:-moz-placeholder {
  color: #7d7d80;
  font-size: 12px;
  font-weight: 500;
}
.tab-content .selects-info .input-wrap input:focus {
  border-color: #5c5c5c;
}
.tab-content .selects-info .input-wrap .select-wrap {
  width: 34px;
  min-width: 34px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  margin: 0;
}
.tab-content .selects-info .input-wrap .select-wrap .select2-selection__rendered {
  padding: 0 !important;
}
.tab-content .selects-info .input-wrap .select-wrap .select2-selection__arrow {
  right: 2px !important;
}
.tab-content .purple-btn {
  width: 100%;
  margin-bottom: 12px;
  text-align: center;
}
.tab-content .info-title {
  padding: 0 10px;
  margin-bottom: 10px;
  color: #f5f5f7;
  font-size: 12px;
  font-weight: 500;
}
.tab-content .connect-text {
  margin: 12px auto;
  padding-top: 12px;
  text-align: center;
  color: #f5f5f7;
  font-size: 12px;
  font-weight: 500;
  width: 100%;
  border-top: 1px solid #292929;
}
.tab-content .input-wrap {
  position: relative;
  margin-bottom: 16px;
  margin-top: 16px;
}
.tab-content .input-wrap input {
  border: 1px solid #404041;
  border-radius: 4px;
  width: 100%;
  height: 32px;
  padding: 0 10px;
  color: #9e9ea0;
  font-size: 12px;
  font-weight: 500;
  padding-right: 56px;
}
.tab-content .input-wrap input::-webkit-input-placeholder {
  color: #7d7d80;
  font-size: 12px;
  font-weight: 500;
}
.tab-content .input-wrap input::-moz-placeholder {
  color: #7d7d80;
  font-size: 12px;
  font-weight: 500;
}
.tab-content .input-wrap input:-ms-input-placeholder {
  color: #7d7d80;
  font-size: 12px;
  font-weight: 500;
}
.tab-content .input-wrap input:-moz-placeholder {
  color: #7d7d80;
  font-size: 12px;
  font-weight: 500;
}
.tab-content .input-wrap input:focus {
  border-color: #5c5c5c;
}
.tab-content .input-wrap .select-wrap {
  width: 34px;
  min-width: 34px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  margin: 0;
}
.tab-content .input-wrap .select-wrap .select2-selection__rendered {
  padding: 0 !important;
}
.tab-content .input-wrap .select-wrap .select2-selection__arrow {
  right: 2px !important;
}

.tab-content.active {
  display: block;
}

.switch {
  display: flex;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #404041;
  background: rgba(36, 36, 36, 0.48);
  padding: 4px;
  margin-bottom: 8px;
}

.switch-button {
  flex: 1;
  padding: 10px 20px;
  border: none;
  background: transparent;
  color: #7d7d80;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s, color 0.3s;
}

.switch-button.active {
  background: #6a5acd;
  color: #f5f5f7;
}

.checkbox-wrap label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-size: 12px;
  font-weight: 500;
  color: #f5f5f7;
}
.checkbox-wrap label input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
.checkbox-wrap label input:checked ~ span:after {
  opacity: 1;
}
.checkbox-wrap label span {
  width: 16px;
  min-width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  transition: 0.2s;
  border: 1px solid #776ae6;
  border-radius: 4px;
  margin-right: 8px;
}
.checkbox-wrap label span:after {
  content: "";
  background: #776ae6;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
  opacity: 0;
  transition: 0.2s;
}

.tab-content .range-wrap #slider-range .ui-widget-header,
.tab-content .range-wrap #slider-range2 .ui-widget-header {
  background: #594dc5;
}

.graphic-info .selects-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.graphic-info .items {
  width: 100%;
}
.graphic-info .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 24px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 4px;
  position: relative;
  z-index: 0;
  padding: 5px 10px;
}
.graphic-info .items .item:after {
  content: "";
  width: 20%;
  height: 100%;
  border-radius: 4px;
  background: rgba(222, 77, 77, 0.12);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.graphic-info .items .item:nth-child(1):after {
  width: 90%;
}
.graphic-info .items .item:nth-child(2):after {
  width: 60%;
}
.graphic-info .items .item:nth-child(3):after {
  width: 40%;
}
.graphic-info .items .item span {
  font-size: 12px;
  font-weight: 500;
  color: #e6e7ea;
  width: 50px;
}
.graphic-info .items .item span.red {
  color: #de4d4d;
}
.graphic-info .items .item span.green {
  color: #37b358;
}
.graphic-info .items.green-style .item:after {
  background: rgba(55, 179, 88, 0.12);
}
.graphic-info .top-title {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.graphic-info .top-title span {
  font-size: 12px;
  font-weight: 500;
  color: #7d7d80;
  min-width: 50px;
}
.graphic-info .black-style {
  background: #141414;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 10px 0;
}
.graphic-info .black-style span {
  font-size: 12px;
  font-weight: 500;
  color: #f5f5f7;
  min-width: 50px;
}
.graphic-info .black-style span.purple {
  color: #9a8eed;
}

.header {
  padding: 10px;
  margin-bottom: 4px;
  position: relative;
  z-index: 2;
  background: linear-gradient(0deg, rgba(119, 106, 230, 0.08) 0%, rgba(119, 106, 230, 0.08) 100%), rgba(245, 245, 247, 0.02);
  box-shadow: 0.5px 0.5px 1px 0px rgba(20, 20, 20, 0.04), 0.25px 0.25px 0.5px 0px rgba(20, 20, 20, 0.04), 0px 0px 0px 0px rgba(20, 20, 20, 0.04), 0px 0px 0px 1px rgba(255, 255, 255, 0.02) inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 56px;
}
.header .logo {
  margin-right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .menu-wrap .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .menu-wrap .main-menu li {
  margin-right: 10px;
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .menu-wrap .main-menu li:after {
  content: "";
  padding-bottom: 12px;
  bottom: -12px;
  left: 0;
  width: 100%;
  position: absolute;
}
.header .menu-wrap .main-menu li a {
  font-size: 12px;
  color: #7d7d80;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px;
}
.header .menu-wrap .main-menu li a svg {
  fill: #7d7d80;
  margin-right: 4px;
  transition: 0.3s;
}
.header .menu-wrap .main-menu li a:hover {
  color: #776ae6;
}
.header .menu-wrap .main-menu li a:hover svg {
  fill: #776ae6;
}
.header .menu-wrap .main-menu li.active a {
  color: #776ae6;
}
.header .menu-wrap .main-menu li.active a svg {
  fill: #776ae6;
}
.header .menu-wrap .main-menu li .more {
  font-size: 12px;
  color: #7d7d80;
  font-weight: normal;
}
.header .menu-wrap .main-menu li .more img {
  margin-left: 5px;
}
.header .menu-wrap .main-menu li .drop-menu-wrap {
  position: absolute;
  top: calc(100% + 12px);
  left: 0;
  z-index: 10;
  border-radius: 4px;
  transform: scale(0);
  transition: 0.3s;
  border: 1px solid var(--Grey-10, #141414);
  background: #211f29;
  box-shadow: 2px 4px 8px 0px rgba(20, 20, 20, 0.06), 1px 2px 4px 0px rgba(20, 20, 20, 0.06), 1px 1px 2px 0px rgba(20, 20, 20, 0.06), 0.5px 0px 1px 0px rgba(20, 20, 20, 0.06), 0.25px 0px 0.5px 0px rgba(20, 20, 20, 0.06), 0px 0px 0px 0px rgba(20, 20, 20, 0.05), 0px 0px 0px 1px rgba(255, 255, 255, 0.02) inset;
  padding: 4px;
  min-width: 190px;
}
.header .menu-wrap .main-menu li .drop-menu-wrap a {
  padding: 6px 10px;
}
.header .menu-wrap .main-menu li .drop-menu-wrap a:hover {
  color: #f5f5f7;
  background: #27252f;
}
.header .menu-wrap .main-menu li:hover .drop-menu-wrap {
  transform: scale(1);
}
.header .header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}
.header .header-info .select-wrap {
  margin-right: 12px;
}
.header .header-info .purple-btn {
  min-width: 150px;
  text-align: center;
}
.header .header-info .setting-btn {
  width: 34px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 8px;
}
.header .header-info .setting-btn img {
  margin: auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}
.main .main-info {
  display: flex;
  height: calc(100vh - 60px);
}
.main .main-info .left-info {
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main .main-info .left-info .bottom {
  border-radius: 4px;
  border: 1px solid rgba(41, 33, 133, 0.12);
  background: linear-gradient(0deg, rgba(119, 106, 230, 0.08) 0%, rgba(119, 106, 230, 0.08) 100%), rgba(245, 245, 247, 0.02);
  box-shadow: 0.5px 0.5px 1px 0px rgba(20, 20, 20, 0.04), 0.25px 0.25px 0.5px 0px rgba(20, 20, 20, 0.04), 0px 0px 0px 0px rgba(20, 20, 20, 0.04), 0px 0px 0px 1px rgba(255, 255, 255, 0.02) inset;
  margin-top: 4px;
  padding: 12px 10px;
  margin-top: auto;
  padding-bottom: 79px;
  min-height: 200px;
}
.main .main-info .left-info .bottom .tab-content {
  margin-top: 16px;
}
.main .main-info .left-info .bottom .tab-content .text {
  font-size: 12px;
  padding: 0 10px;
  font-weight: 500;
  color: #f5f5f7;
}
.main .main-info .left-info .bottom .tab-content .list-wrap {
  margin-bottom: 16px;
  padding: 0 10px;
}
.main .main-info .left-info .bottom .tab-content .list-wrap .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main .main-info .left-info .bottom .tab-content .list-wrap .list span {
  font-size: 12px;
  font-weight: 500;
  color: #7d7d80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main .main-info .left-info .bottom .tab-content .list-wrap .list span img {
  margin-left: 5px;
}
.main .main-info .left-info .bottom .tab-content .list-wrap .list span img.rotate {
  transform: rotate(180deg);
}
.main .main-info .left-info .bottom .tabs-buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.main .main-info .left-info .bottom .tabs-buttons button {
  margin-right: 10px;
}
.main .main-info .left-info .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 200px);
  overflow-y: auto;
}
.main .main-info .left-info .wrap::-webkit-scrollbar {
  width: 0;
}
.main .main-info .left-info .wrap .left {
  flex-grow: 1;
}
.main .main-info .left-info .wrap .left .top-info {
  border-radius: 4px;
  border: 1px solid rgba(41, 33, 133, 0.12);
  background: linear-gradient(0deg, rgba(119, 106, 230, 0.08) 0%, rgba(119, 106, 230, 0.08) 100%), rgba(245, 245, 247, 0.02);
  box-shadow: 0.5px 0.5px 1px 0px rgba(20, 20, 20, 0.04), 0.25px 0.25px 0.5px 0px rgba(20, 20, 20, 0.04), 0px 0px 0px 0px rgba(20, 20, 20, 0.04), 0px 0px 0px 1px rgba(255, 255, 255, 0.02) inset;
  margin-bottom: 4px;
  padding: 10px;
  min-height: 64px;
}
.main .main-info .left-info .wrap .left .bottom-info {
  height: calc(100% - 72px);
  border-radius: 4px;
  border: 1px solid rgba(41, 33, 133, 0.12);
  background: linear-gradient(0deg, rgba(119, 106, 230, 0.08) 0%, rgba(119, 106, 230, 0.08) 100%), rgba(245, 245, 247, 0.02);
  box-shadow: 0.5px 0.5px 1px 0px rgba(20, 20, 20, 0.04), 0.25px 0.25px 0.5px 0px rgba(20, 20, 20, 0.04), 0px 0px 0px 0px rgba(20, 20, 20, 0.04), 0px 0px 0px 1px rgba(255, 255, 255, 0.02) inset;
  margin-bottom: 4px;
  padding: 10px;
}
@media (max-height: 975px) {
  .main .main-info .left-info .wrap .left .bottom-info {
    height: auto;
  }
}
.main .main-info .left-info .wrap .left .bottom-info .graphic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #141414;
  height: 620px;
  width: 870px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.main .main-info .left-info .wrap .left .bottom-info .graphic img {
  width: 100%;
}
.main .main-info .left-info .wrap .right {
  width: 288px;
  margin-left: 4px;
  min-width: 288px;
  border-radius: 4px;
  min-height: 710px;
  border: 1px solid rgba(41, 33, 133, 0.12);
  background: linear-gradient(0deg, rgba(119, 106, 230, 0.08) 0%, rgba(119, 106, 230, 0.08) 100%), rgba(245, 245, 247, 0.02);
  box-shadow: 0.5px 0.5px 1px 0px rgba(20, 20, 20, 0.04), 0.25px 0.25px 0.5px 0px rgba(20, 20, 20, 0.04), 0px 0px 0px 0px rgba(20, 20, 20, 0.04), 0px 0px 0px 1px rgba(255, 255, 255, 0.02) inset;
  margin-bottom: 4px;
  padding: 10px;
}
.main .main-info .left-info .wrap .right .tabs {
  margin-bottom: 0;
}
.main .main-info .right-info {
  width: 288px;
  min-width: 288px;
  margin-left: 4px;
  border-radius: 4px;
  border: 1px solid rgba(41, 33, 133, 0.12);
  background: linear-gradient(0deg, rgba(119, 106, 230, 0.08) 0%, rgba(119, 106, 230, 0.08) 100%), rgba(245, 245, 247, 0.02);
  box-shadow: 0.5px 0.5px 1px 0px rgba(20, 20, 20, 0.04), 0.25px 0.25px 0.5px 0px rgba(20, 20, 20, 0.04), 0px 0px 0px 0px rgba(20, 20, 20, 0.04), 0px 0px 0px 1px rgba(255, 255, 255, 0.02) inset;
  padding: 12px 10px;
  height: calc(100vh - 60px);
  overflow-y: auto;
}
.main .main-info .right-info::-webkit-scrollbar {
  width: 0;
}
.main .main-info .right-info .top-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin-bottom: 8px;
}
.main .main-info .right-info .top-buttons button {
  height: 32px;
  color: #c2c2c6;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  background: rgba(245, 245, 247, 0.04);
  box-shadow: 0px -1px 1px 2px rgba(0, 0, 0, 0.08) inset, 0px 1px 2px 2px rgba(255, 255, 255, 0.03) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0.99), 0px 0px 0px 0px rgba(255, 255, 255, 0.04) inset;
}

/*# sourceMappingURL=style.css.map */
