@import "mixins";
@import "global";

.header {
  padding: 10px;
  margin-bottom: 4px;
  position: relative;
  z-index: 2;
  background: linear-gradient(
      0deg,
      rgba(119, 106, 230, 0.08) 0%,
      rgba(119, 106, 230, 0.08) 100%
    ),
    rgba(245, 245, 247, 0.02);
  box-shadow: 0.5px 0.5px 1px 0px rgba(20, 20, 20, 0.04),
    0.25px 0.25px 0.5px 0px rgba(20, 20, 20, 0.04),
    0px 0px 0px 0px rgba(20, 20, 20, 0.04),
    0px 0px 0px 1px rgba(255, 255, 255, 0.02) inset;
  @include flex;
  @include align-center;
  min-height: 56px;
  .logo {
    margin-right: 32px;
    @include flex;
  }
  .menu-wrap {
    .main-menu {
      @include flex;
      @include align-center;
      li {
        margin-right: 10px;
        position: relative;
        z-index: 0;
        @include flex;
        &:after {
          content: "";
          padding-bottom: 12px;
          bottom: -12px;
          left: 0;
          width: 100%;
          position: absolute;
        }
        a {
          font-size: 12px;
          color: #7d7d80;
          font-weight: normal;
          @include flex;
          @include align-center;
          padding: 8px;
          svg {
            fill: #7d7d80;
            margin-right: 4px;
            transition: 0.3s;
          }
          &:hover {
            color: #776ae6;
            svg {
              fill: #776ae6;
            }
          }
        }
        &.active {
          a {
            color: #776ae6;
            svg {
              fill: #776ae6;
            }
          }
        }
        .more {
          font-size: 12px;
          color: #7d7d80;
          font-weight: normal;
          img {
            margin-left: 5px;
          }
        }
        .drop-menu-wrap {
          position: absolute;
          top: calc(100% + 12px);
          left: 0;
          z-index: 10;
          border-radius: 4px;
          transform: scale(0);
          transition: 0.3s;
          border: 1px solid var(--Grey-10, #141414);
          background: #211f29;
          box-shadow: 2px 4px 8px 0px rgba(20, 20, 20, 0.06),
            1px 2px 4px 0px rgba(20, 20, 20, 0.06),
            1px 1px 2px 0px rgba(20, 20, 20, 0.06),
            0.5px 0px 1px 0px rgba(20, 20, 20, 0.06),
            0.25px 0px 0.5px 0px rgba(20, 20, 20, 0.06),
            0px 0px 0px 0px rgba(20, 20, 20, 0.05),
            0px 0px 0px 1px rgba(255, 255, 255, 0.02) inset;
          padding: 4px;
          min-width: 190px;
          a {
            padding: 6px 10px;
            &:hover {
              color: #f5f5f7;
              background: #27252f;
            }
          }
        }
        &:hover {
          .drop-menu-wrap {
            transform: scale(1);
          }
        }
      }
    }
  }
  .header-info {
    @include flex;
    @include align-center;
    margin-left: auto;
    .select-wrap {
      margin-right: 12px;
    }

    .purple-btn {
      min-width: 150px;
      text-align: center;
    }
    .setting-btn {
      width: 34px;
      height: 34px;
      @include flex;
      margin-left: 8px;
      img {
        margin: auto;
      }
    }
  }
}

.main {
  @include flex;
  @include dir-col;
  height: 100vh;
  .main-info {
    display: flex;
    height: calc(100vh - 60px);
    .left-info {
      flex-grow: 1;
      @include flex;
      @include dir-col;
      .bottom {
        border-radius: 4px;
        border: 1px solid rgba(41, 33, 133, 0.12);
        background: linear-gradient(
            0deg,
            rgba(119, 106, 230, 0.08) 0%,
            rgba(119, 106, 230, 0.08) 100%
          ),
          rgba(245, 245, 247, 0.02);
        box-shadow: 0.5px 0.5px 1px 0px rgba(20, 20, 20, 0.04),
          0.25px 0.25px 0.5px 0px rgba(20, 20, 20, 0.04),
          0px 0px 0px 0px rgba(20, 20, 20, 0.04),
          0px 0px 0px 1px rgba(255, 255, 255, 0.02) inset;
        margin-top: 4px;
        padding: 12px 10px;
        margin-top: auto;
        padding-bottom: 79px;
        min-height: 300px;
        .tab-content {
          margin-top: 16px;
          .text {
            font-size: 12px;
            padding: 0 10px;
            font-weight: 500;
            color: #f5f5f7;
          }
          .list-wrap {
            margin-bottom: 16px;
            padding: 0 10px;
            .list {
              @include flex;
              @include justify-between;
              span {
                font-size: 12px;
                font-weight: 500;
                color: #7d7d80;
                @include flex;
                @include align-center;
                img {
                  margin-left: 5px;
                  &.rotate {
                    transform: rotate(180deg);
                  }
                }
              }
            }
          }
        }
        .tabs-buttons {
          @include inline-flex;
          button {
            margin-right: 10px;
          }
        }
      }
      .wrap {
        @include flex;
        flex-grow: 1;
        height: calc(100vh - 200px);
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 0;
        }
        .left {
          flex-grow: 1;
          .top-info {
            border-radius: 4px;
            border: 1px solid rgba(41, 33, 133, 0.12);
            background: linear-gradient(
                0deg,
                rgba(119, 106, 230, 0.08) 0%,
                rgba(119, 106, 230, 0.08) 100%
              ),
              rgba(245, 245, 247, 0.02);
            box-shadow: 0.5px 0.5px 1px 0px rgba(20, 20, 20, 0.04),
              0.25px 0.25px 0.5px 0px rgba(20, 20, 20, 0.04),
              0px 0px 0px 0px rgba(20, 20, 20, 0.04),
              0px 0px 0px 1px rgba(255, 255, 255, 0.02) inset;
            margin-bottom: 4px;
            padding: 10px;
            min-height: 64px;
            @include flex;
            @include align-center;
            position: relative;
            z-index: 0;
            .drop-wrap {
              margin-right: 40px;
              .drop-btn {
                @include flex;
                @include align-center;
                font-size: 20px;
                font-weight: 500;
                color: #f5f5f7;
                img {
                  margin-left: 10px;
                  transition: 0.3s;
                  &.rotate {
                    transform: rotate(180deg);
                  }
                }
              }
              .drop-hide {
                position: absolute;
                top: 105%;
                left: 0;
                z-index: 10;
                padding: 12px;
                min-width: 236px;
                width: 236px;
                border-radius: 8px;
                border: 1px solid var(--Grey-10, #141414);
                background: #211f29;
                overflow: hidden;
                box-shadow: 4px 8px 16px -4px rgba(20, 20, 20, 0.08),
                  0px 0px 16px 32px rgba(0, 0, 0, 0.02),
                  2px 4px 8px 0px rgba(20, 20, 20, 0.08),
                  1px 2px 4px 0px rgba(20, 20, 20, 0.06),
                  1px 1px 2px 0px rgba(20, 20, 20, 0.06),
                  0.5px 0px 1px 0px rgba(20, 20, 20, 0.06),
                  0.25px 0px 0.5px 0px rgba(20, 20, 20, 0.06),
                  0px 0px 0px 0px rgba(20, 20, 20, 0.04),
                  0px 0px 0px 1px rgba(255, 255, 255, 0.02) inset;
                transform: scale(0);
                transition: 0.3s;
                &.show {
                  transform: scale(1);
                }
                .search {
                  width: 100%;
                  height: 32px;
                  border-radius: 4px;
                  border: 1px solid #776ae6;
                  margin-bottom: 10px;
                  padding: 0 10px;
                  color: #e6e7ea;
                  @include placeholder {
                    color: #e6e7ea;
                    font-size: 12px;
                    font-weight: 500;
                  }
                }
                .tabs-buttons {
                  @include flex;
                  overflow-x: auto;
                  min-width: 500px;
                  button {
                    padding: 0;
                    border: none;
                    margin-right: 16px;
                    &.active {
                      color: #776ae6;
                      &:after {
                        content: none;
                      }
                    }
                  }
                }
                .tab-content {
                  .top {
                    @include flex;
                    @include justify-between;
                    margin-bottom: 12px;
                    span {
                      @include flex;
                      min-width: 74px;
                      @include align-center;
                      font-size: 12px;
                      font-weight: 500;
                      color: #5c5c5e;
                      img {
                        margin-left: 10px;
                      }
                    }
                  }
                  .items {
                    max-height: 274px;
                    overflow-y: auto;
                    &::-webkit-scrollbar {
                      width: 0;
                    }
                    .item {
                      @include flex;
                      @include align-center;
                      padding: 6px 2px;
                      transition: 0.3s;
                      cursor: pointer;
                      border-radius: 4px;
                      &:hover {
                        background: rgba(255, 255, 255, 0.01);
                      }
                      .star {
                        @include flex;
                        margin-right: 6px;
                      }
                      span {
                        font-size: 11px;
                        line-height: 100%;
                        font-weight: 500;
                        &.white {
                          color: #f5f5f7;
                        }
                        &.grey {
                          color: #a0a0a2;
                        }
                        &.green {
                          color: #16b364;
                        }
                        &.red {
                          color: #de4d4d;
                        }
                      }
                      .text-wrap {
                        width: 72px;
                        margin-left: auto;
                        @include flex;
                        @include dir-col;
                        .white {
                          margin-bottom: 5px;
                        }
                      }
                      .info {
                        @include flex;
                        @include align-center;
                        .icon-wrap {
                          @include flex;
                          border-radius: 50%;
                          margin-right: 6px;
                          width: 24px;
                          height: 24px;
                          min-width: 24px;
                          img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                          }
                        }
                        .texts2 {
                          @include flex;
                          @include dir-col;
                          .white {
                            margin-bottom: 5px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .list {
              @include flex;
              flex-grow: 1;
              .texts {
                @include flex;
                @include dir-col;
                margin-right: 35px;
                &:last-child {
                  margin-right: 5px;
                }
                a {
                  font-size: 12px;
                  line-height: 125%;
                  font-weight: 500;
                  color: #7d7d80;
                  text-decoration: underline;
                  margin-bottom: 4px;
                }
                span {
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 125%;
                  display: inline-block;
                  &.grey {
                    color: #7d7d80;
                    margin-bottom: 4px;
                  }
                  &.white {
                    color: #e6e7ea;
                  }
                  &.red {
                    color: #de4d4d;
                  }
                }
              }
            }
          }
          .bottom-info {
            height: calc(100% - 72px);
            border-radius: 4px;
            border: 1px solid rgba(41, 33, 133, 0.12);
            background: linear-gradient(
                0deg,
                rgba(119, 106, 230, 0.08) 0%,
                rgba(119, 106, 230, 0.08) 100%
              ),
              rgba(245, 245, 247, 0.02);
            box-shadow: 0.5px 0.5px 1px 0px rgba(20, 20, 20, 0.04),
              0.25px 0.25px 0.5px 0px rgba(20, 20, 20, 0.04),
              0px 0px 0px 0px rgba(20, 20, 20, 0.04),
              0px 0px 0px 1px rgba(255, 255, 255, 0.02) inset;
            margin-bottom: 4px;
            padding: 10px;
            @media (max-height: 975px) {
              height: auto;
            }
            .graphic {
              @include flex;
              height: 620px;
              width: 870px;
              img {
                width: 100%;
              }
            }
          }
        }
        .right {
          width: 288px;
          margin-left: 4px;
          min-width: 288px;
          border-radius: 4px;
          min-height: 710px;
          border: 1px solid rgba(41, 33, 133, 0.12);
          background: linear-gradient(
              0deg,
              rgba(119, 106, 230, 0.08) 0%,
              rgba(119, 106, 230, 0.08) 100%
            ),
            rgba(245, 245, 247, 0.02);
          box-shadow: 0.5px 0.5px 1px 0px rgba(20, 20, 20, 0.04),
            0.25px 0.25px 0.5px 0px rgba(20, 20, 20, 0.04),
            0px 0px 0px 0px rgba(20, 20, 20, 0.04),
            0px 0px 0px 1px rgba(255, 255, 255, 0.02) inset;
          margin-bottom: 4px;
          padding: 10px;
          .tabs {
            margin-bottom: 0;
          }
        }
      }
    }
    .right-info {
      width: 288px;
      min-width: 288px;
      margin-left: 4px;
      border-radius: 4px;
      border: 1px solid rgba(41, 33, 133, 0.12);
      background: linear-gradient(
          0deg,
          rgba(119, 106, 230, 0.08) 0%,
          rgba(119, 106, 230, 0.08) 100%
        ),
        rgba(245, 245, 247, 0.02);
      box-shadow: 0.5px 0.5px 1px 0px rgba(20, 20, 20, 0.04),
        0.25px 0.25px 0.5px 0px rgba(20, 20, 20, 0.04),
        0px 0px 0px 0px rgba(20, 20, 20, 0.04),
        0px 0px 0px 1px rgba(255, 255, 255, 0.02) inset;
      padding: 12px 10px;
      height: calc(100vh - 60px);
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 0;
      }
      .top-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        margin-bottom: 8px;
        button {
          height: 32px;
          color: #c2c2c6;
          font-size: 12px;
          font-weight: 500;
          border-radius: 4px;
          background: rgba(245, 245, 247, 0.04);
          box-shadow: 0px -1px 1px 2px rgba(0, 0, 0, 0.08) inset,
            0px 1px 2px 2px rgba(255, 255, 255, 0.03) inset,
            0px 0px 0px 1px rgba(0, 0, 0, 0.99),
            0px 0px 0px 0px rgba(255, 255, 255, 0.04) inset;
        }
      }
    }
  }
}
