.dashboard{
  width: 100%;
  $menuWidth: 248px;

  @include f('sb', 's');
  gap: 4px;

  &-menu{
    width: $menuWidth;
    height: calc(100vh - 68px);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgba(41, 33, 133, 0.12);
    background: linear-gradient(0deg, rgba(119, 106, 230, 0.08) 0%, rgba(119, 106, 230, 0.08) 100%), rgba(245, 245, 247, 0.02);
    box-shadow: 0.5px 0.5px 1px 0 rgba(0, 0, 0, 0.04), 0.25px 0.25px 0.5px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 rgba(0, 0, 0, 0.04);
    position: relative;

    @media (max-width: 1040px){
      $menuWidth: $menuWidth - 50;
      width: $menuWidth;
    }

    @media (max-width: 992px){
      display: none;
    }

    &-active{
      width: calc(100% - 20px);
      height: 36px;
      background: rgba(89, 77, 197, 0.12);
      position: absolute;
      left: 10px;
      top: 10px;
      border-radius: 4px;
      transition: 0.3s;
      transition-delay: 0.2s;
    }



    &-item{
      height: 36px;
      gap: 8px;
      border-radius: 4px;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.04) inset;
      @include f('s', 'c');
      color: #7D7D80;
      font-size: 12px;
      font-weight: 400;
      line-height: 125%;
      gap: 8px;
      transition: 0.3s;
      cursor: pointer;
      margin-bottom: 10px;
      position: relative;
      z-index: 1;

      &:hover{
        background: rgba(89, 77, 197, 0.20);
      }

      &-icon{
        @include f('c', 'c');
        width: 36px;
        height: 36px;
        padding: 9px;
        border-radius: 4px;
        background: rgba(245, 245, 247, 0.06);
        transition: 0.3s;
      }

      svg path{
        transition: 0.3s;
      }

      &.active{
        color: #E6E7EA;
        cursor: default;
        &:hover{
          background: transparent;
        }
        .dashboard-menu-item-icon{
          background: #776AE6;
          path{
            stroke: #fff;
          }
        }

      }
    }
  }

  &-content{
    width: calc(100% - #{$menuWidth});
    height: calc(100vh - 68px);
    padding: 32px 10px 10px 32px;
    border-radius: 4px;
    border: 1px solid rgba(41, 33, 133, 0.12);
    background: linear-gradient(0deg, rgba(119, 106, 230, 0.08) 0%, rgba(119, 106, 230, 0.08) 100%), rgba(245, 245, 247, 0.02);
    box-shadow: 0.5px 0.5px 1px 0 rgba(0, 0, 0, 0.04), 0.25px 0.25px 0.5px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 rgba(0, 0, 0, 0.04);
    position: relative;

    @media (max-width: 992px){
      width: 100%;
      padding-left: 16px;
    }

    &-mobile-title{
      display: none;
      position: relative;
      margin-bottom: 59px;

      span{
        color: #F5F5F7;
        font-size: 24px;
        font-weight: 700;
        line-height: 125%;
        position: absolute;
        left: 0;
        top: 0;
        transition: 0.3s;
        opacity: 0;
        transform: scale(0.5);

        &.active{
          opacity: 1;
          transform: scale(1);
        }
      }

      @media (max-width: 992px){
        display: block;
      }
    }

    .tabs-buttons {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      display: none;
      width: 100%;
      max-width: 544px;
      overflow-x: auto;

      &::-webkit-scrollbar{
        height: 0;
      }

      @media (max-width: 992px){
        display: grid;
      }
    }

    &-item{
      position: absolute;
      width: calc(100% - 44px);
      height: calc(100vh - 130px);
      padding-right: 10px;
      left: 32px;
      top: 32px;
      transition: 0.3s;
      overflow-y: auto;
      overflow-X: hidden;
      display: none;

      @media (max-width: 992px){
        top: 141px;
        left: 16px;
        height: calc(100vh - 222px);
        width: calc(100% - 27px);
      }

      &.active{
        display: block;
      }
    }


  }

  &-title{
    color: #F5F5F7;
    font-size: 24px;
    font-weight: 700;
    line-height: 125%;
    margin-bottom: 36px;

    @media (max-width: 992px){
      display: none;
    }
  }

  &-equity{
    &-type{
      color: #7D7D80;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 8px;
      line-height: 125%;
    }

    &-price{
      @include f('s', 'c');
      gap: 8px;
      color: #F5F5F7;
      font-size: 18px;
      font-weight: 600;
      line-height: 125%;
    }
  }

  &-diagram-type{
    margin-top: 24px;
    @include f('s', 'c');
    gap: 4px;
    margin-bottom: 16px;
    button{
      width: 35px;
      height: 24px;
      align-self: stretch;
      color: #7D7D80;
      font-size: 12px;
      font-weight: 400;
      line-height: 125%;

      &:first-child{
        width: 29px;
      }

      &.active{
        color: #776AE6;
      }
    }
  }

  &-diagram{
    canvas{
      width: 100%;
      height: 240px;
    }
  }

  &-result{
    width: 100%;
    height: 56px;
    @include f('s', 'c');
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 24px;

    @media (max-width: 992px){
      height: auto;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media (max-width: 567px){
      gap: 8px;
    }

    &-item{
      width: 100%;
      height: 56px;
      padding: 5px 10px;
      border-radius: 8px;
      border: 1px solid rgba(41, 33, 133, 0.12);
      background: linear-gradient(0deg, rgba(119, 106, 230, 0.08) 0%, rgba(119, 106, 230, 0.08) 100%), rgba(245, 245, 247, 0.02);
      box-shadow: 0.5px 0.5px 1px 0 rgba(0, 0, 0, 0.04), 0.25px 0.25px 0.5px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 rgba(0, 0, 0, 0.04), 0 0 0 1px rgba(255, 255, 255, 0.02) inset;

      @media (max-width: 992px){
        width: calc(50% - 8px);

        &:last-child{
          width: 100%;
        }
      }
      @media (max-width: 567px){
        width: calc(50% - 4px);
      }


      &-title{
        color: #7D7D80;
        font-size: 12px;
        font-weight: 400;
        line-height: 125%;
        margin-bottom: 8px;
      }

      &-value{
        color: #F5F5F7;
        font-size: 14px;
        font-weight: 500;
        line-height: 125%;
      }
    }
  }

  &-section-title{
    color: #F5F5F7;
    font-size: 14px;
    font-weight: 500;
    line-height: 125%;
    margin-bottom: 11px;


    @media (max-width: 576px){
      margin-top: 27px;
    }

  }

  &-table{
    width: 100%;
    height: auto;
    margin-bottom: 24px;

    @mixin itemFunction{
      @include f('s', 'c');
      gap: 8px;

      &.start-column{
        @include f('s', 's');
      }

      &.center{
        @include f('c', 'c');
      }

      &.end{
        @include f('e', 'c');
      }

      &.column{
       flex-direction: column;
      }

      &.text-14, .text-14{
        font-size: 14px;
      }

      &.text-12, .text-12{
        font-size: 12px;
      }
    }

    &-head{
      width: 100%;
      height: 48px;
      @include f('s', 'c');
      border-radius: 8px 8px 0 0;
      border-bottom: 1px solid rgba(64, 64, 65, 0.12);
      background: linear-gradient(0deg, rgba(119, 106, 230, 0.12) 0%, rgba(119, 106, 230, 0.12) 100%), rgba(245, 245, 247, 0.02);
      padding: 0 10px;

      @media (max-width: 576px){
        display: none;
      }

      &-item{
        color: #5C5C5E;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 125%;
        width: 100%;
        max-width: var(--w);

        @include itemFunction;
      }
    }


    &-content{
      width: 100%;
      height: 64px;
      @include f('s', 'c');
      border-bottom: 1px solid rgba(64, 64, 65, 0.12);
      background: linear-gradient(0deg, rgba(119, 106, 230, 0.08) 0%, rgba(119, 106, 230, 0.08) 100%), rgba(245, 245, 247, 0.02);
      padding: 0 10px;
      overflow-x: auto;

      @media (max-width: 576px){
        display: none;
      }

      &::-webkit-scrollbar{
        height: 0;
      }

      &:hover{
        background: linear-gradient(0deg, rgba(119, 106, 230, 0.1) 0%, rgba(119, 106, 230, 0.08) 100%), rgba(245, 245, 247, 0.02);

      }

      &:last-child{
        border-radius: 0 0 8px 8px;
        border-bottom: 0;
      }

      &-item{
        width: 100%;
        max-width: var(--w);
        color: #F5F5F7;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 125%;

        &.bottom{
          display: none;

          @media (max-width: 576px){
            display: flex;
            justify-content: start;
          }
        }

        @media (max-width: 576px){
          max-width: 50% !important;
          &:nth-of-type(2),&:nth-of-type(3),{
            display: none;
          }
          &:nth-of-type(4){
            flex-direction: row !important;
          }

          &:last-child{
            max-width: 100%;
            justify-content: space-between;
          }
        }


        @include itemFunction;

        .purple-btn{
          padding: 9px 67px;
        }

        .transparent{
          padding: 9px 30px;
        }
      }
    }
  }

  &-mobile-table{
    display: none;
    border-radius: 8px;
    border: 1px solid rgba(64, 64, 65, 0.12);
    background: linear-gradient(0deg, rgba(119, 106, 230, 0.08) 0%, rgba(119, 106, 230, 0.08) 100%), rgba(245, 245, 247, 0.02);
    padding: 0 10px;
    margin-bottom: 8px;

    @media (max-width: 576px){
      display: block;
    }

    &-head{
      @include f('sb', 'c');
      height: 56px;

      &-info{
        @include f('s', 'c');
        gap: 8px;

        &-title{
          color: #F5F5F7;
          font-size: 12px;
          font-weight: 500;
          line-height: 125%;
        }

        &-price{
          color: #16B364;
          font-size: 12px;
          font-weight: 500;
          line-height: 125%;
        }
      }

      &-count{
        color: #F5F5F7;
        font-size: 12px;
        font-weight: 500;
        line-height: 125%;
        @include f('e', 'c');
        gap: 8px;

        span{
          color: #37B358;
        }
      }
    }

    &-buttons{
      width: 100%;
      height: 48px;
      @include f('sb', 'c');
      gap: 8px;

      .purple-btn{
        width: 50%;
      }
    }
  }

  &-info{
    @include f('s', 's');
    gap: 24px;

    &.top{
      display: none;
      margin-bottom: 24px;
      gap: 8px;

      .dashboard-info-body{
        height: auto;
      }

      .dashboard-info-im{
        margin-bottom: 16px;
      }

      @media (max-width: 992px){
        display: flex;
        flex-direction: column;

        .dashboard-info-body{
          max-width: 100%;
        }
      }
    }
    &.bottom{
      display: flex;

      @media (max-width: 992px){
        display: none;
      }
    }

    &-body{
      width: 100%;
      max-width: 437px;
      height: 240px;
      padding: 16px 18px;
      border-radius: 8px;
      border: 1px solid rgba(41, 33, 133, 0.12);
      background: linear-gradient(0deg, rgba(119, 106, 230, 0.08) 0%, rgba(119, 106, 230, 0.08) 100%), rgba(245, 245, 247, 0.02);
      box-shadow: 0.5px 0.5px 1px 0px rgba(0, 0, 0, 0.04), 0.25px 0.25px 0.5px 0px rgba(0, 0, 0, 0.04), 0px 0px 0px 0px rgba(0, 0, 0, 0.04), 0px 0px 0px 1px rgba(255, 255, 255, 0.02) inset;

      &-title{
        color: #F5F5F7;
        font-size: 14px;
        font-weight: 500;
        line-height: 125%;
        margin-bottom: 16px;
      }
    }

    &-im{
      margin-bottom: 44px;

      &-item{
        @include f('sb', 'c');
        padding: 8.5px 0;
        border-bottom: 1px solid #292929;

        b{
          color: #7D7D80;
          font-size: 12px;
          font-weight: 500;
          line-height: 125%;
        }
        span{
          color: #776AE6;
          font-size: 12px;
          font-weight: 500;
          line-height: 125%;
        }
      }
    }

    &-margin{
      &-item{
        @include f('sb', 'c');
        margin-bottom: 8.5px;

        b{
          color: #7D7D80;
          font-size: 12px;
          font-weight: 500;
          line-height: 125%;
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-underline-position: from-font;
          cursor: pointer;

          &:hover{
            text-decoration-line: none;
          }
        }
        span{
          color:  #F5F5F7;
          font-size: 12px;
          font-weight: 500;
          line-height: 125%;
        }
      }
    }

    &-greeks{
      &-tabs{
        @include f('s', 'c');
        margin-bottom: 16px;
        button{
          color: #7D7D80;
          font-size: 12px;
          font-weight: 500;
          line-height: 125%;
          width: 39px;
          height: 24px;
          border-radius: 4px;
          border: 1px solid transparent;
          transition: 0.3s;
          @include f('c', 'c');

          &.active{
            border: 1px solid #776AE6;
            color: #776AE6;
          }
        }
      }

      &-body{
        @include f('s', 's');
        flex-wrap: wrap;
        gap: 8px;
        display: none;

        &.active{
          display: flex;
        }


        &-item{
          width: 39%;
          @include f('s', 'c');
          gap: 8px;

          &-icon{
            width: 36px;
            height: 36px;
            padding: 10px;
            border-radius: 4px;
            background: rgba(245, 245, 247, 0.02);
            @include f('c', 'c');
          }

          &-title{
            color: #7D7D80;
            font-size: 11px;
            font-weight: 400;
            line-height: 125%;
          }

          span{
            color: #F5F5F7;
            font-size: 11px;
            font-weight: 400;
            line-height: 125%;
          }
        }
      }


    }
  }
}


.funding-history{
  width: 100%;
  padding-top: 75px;
  @include f('c', 'c');
  flex-direction: column;

  &-title{
    color: #F5F5F7;
    font-size: 16px;
    font-weight: 500;
    line-height: 125%;
    margin-top: 16px;
    margin-bottom: 32px;
  }
}